numpy==1.26.4
scipy==1.15.1

matplotlib
seaborn==0.13.2

pandas==2.2.3
xarray==2024.6.0

scikit-image==0.22.0
scikit-learn==1.7.0
scikit-learn-extra==0.3.0

imageio
tifffile==2024.9.20

phasorpy==0.6
hsipy==1.0.8
wfdb==4.2.0